<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta charset="utf-8" />
			<title>Home - Bowling Score Card </title>
			
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
			<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			
			<style type="text/css">
				body {
					padding-top: 50px;
					padding-bottom: 20px;
				}
			</style>
			
		</head>
<body>
<div class="container">
<form action="#" th:action="@{/home}" th:object="${bowlingForm}" method="post" class="form-horizontal" role="form">
		<table class="table table-hover">
			<thead>
						    			<tr>
						    				<th> Frame </th>
						    				<th> Roll1 </th>
						    				<th> Roll2 </th>
						    				<th> Roll3 </th>
						    				<th> Strike </th>
						    				<th> Spare </th>
						    				<th> Miss </th>
						    				<th> Complete </th>
						    				<th> Score </th>
						    				
						    			</tr>
						    		</thead>
			<tr th:each="bowlingFrame, frameInd: *{bowlingFrames}">
	    	<td th:text="*{bowlingFrames[__${frameInd.index}__].index></td>
	    	
	    	

			<td input type="text" th:field="*{bowlingFrames[__${frameInd.index}__].roll1}" class="form-control" />

							
		</tr>
	</table>
	<div class="form-group last">
		<div class="col-sm-offset-3 col-sm-9">
		<input name="submit" type="submit" value="Calculate" class="btn btn-primary btn-sm" />
		<button type="reset" class="btn btn-default btn-sm">Reset</button>
		</div>
	</div>
</form>




</div>
	
</body>
</html>